{
    "singleQuote": false,
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "printWidth": 120,
    "insertPragma": false
}
